/changelog.txt
/.htaccess
/admin/.htaccess
/db.ini
/release.txt
/archive
/install
/.buildpath
/.project
/.settings
/_notes
/nbproject
/plugins/Timeline/
/archive/files/
/config/
/Capfile
/googled35e628b38f64556.html
/pinterest-608fc.html
/BingSiteAuth.xml
/application/logs/errors.log
/application/logs/processes.log.empty
/themes/FLANDRICA/images/